<template>
  <div class="web-phone">
    <span>分机号: {{ extentionNumber }}</span>
    <button class="btn primary-button ml-5" @click="webPhoneReady">就绪</button>
    <button class="btn primary-button ml-5" @click="cancelWebPhoneReady">
      取消就绪
    </button>
    <button class="btn primary-button ml-5" @click="hold">保持</button>
    <button class="btn primary-button ml-5" @click="unhold">取回</button>
    <button class="btn primary-button ml-5" @click="hungup">挂断</button>
    <button class="btn primary-button ml-5" @click="answer">接听</button>
    <button class="btn primary-button ml-5" @click="webphoneLogin">登录</button>
    <button class="btn primary-button ml-5" @click="logout">登出</button>
    <button class="btn primary-button ml-5" @click="getStatus">获取状态</button>
    <button class="btn primary-button ml-5" @click="relaxation()">休息</button>
    <button class="btn primary-button ml-5" @click="unRelaxation()">
      取消休息
    </button>
    <div style="margin-top: 10px">
      <h4>组件内拨打电话</h4>
      <input type="text" v-model="phoneNumber" />
      <button class="btn primary-button ml-5" @click="dialPhone(phoneNumber)">
        拨打
      </button>
    </div>
    <div style="display: none">
      <audio id="remoteAudio"></audio>
      <audio id="checkMedia" style="display: none"></audio>
      <audio id="ringbacktone" :src="outgoing" loop></audio>
      <audio id="inbound" :src="inbound" loop></audio>
    </div>
  </div>
</template>
<script>
import WebPhone from 'haobai-web-phone'
import outgoing from '../assets/outgoing.mp3'
import inbound from '../assets/inbound.mp3'
export default {
  name: 'Phone',
  props: {
    extentionNumber: {
      type: Number,
    },
    extentionPassword: {
      type: String,
    },
  },
  data() {
    return {
      outgoing,
      inbound,
      beginNumber: '',
      phoneNumber: '',
      webPhone: {},
      inboundAudio: {},
    }
  },
  mounted() {
    this.inboundAudio = document.querySelector('#inbound')
    this.webPhone = new WebPhone({
      extno: 88001,
      password: '1T0D6S7K',
    })
    this.webPhone.on('registrationFailed', function (response) {
      console.log(response)
      console.log('注册失败')
    })
    this.webPhone.on('onInvite', (data) => {
      this.inboundAudio.play()
      console.log('有电话呼入')
    })
    this.webPhone.on('disconnected', (data) => {
      console.log('disconnected')
    })
    this.webPhone.on('updateWebphoneServer', (data) => {
      console.log('updateWebphoneServer', data)
    })
    this.webPhone.on('dialFailed', (cause) => {
      console.log(cause)
      this.inboundAudio.pause()
      if (cause === 'mediaFailed') {
        console.log('麦克风异常')
      } else if (cause === 'Canceled') {
        // 电话呼入是用户取消
        console.log('用户取消')
      } else {
        console.log('拨打失败')
      }
    })
    this.webPhone.on('registerSuccess', () => {
      console.log('注册成功')
    })
    this.webPhone.on('bye', function () {
      console.log('挂断')
    })
    this.webPhone.on('rejected', function () {
      console.log('拒接')
    })
    this.webPhone.on('cancel', function () {
      console.log('取消')
    })
    this.webPhone.on('taskIdShouldNotNull', function () {
      console.log('task id error')
    })
    this.webPhone.on('userAccept', (response) => {
      console.log(response)
      console.log('用户接通')
    })
    this.webPhone.on('statusChange', (response) => {
      console.log('status change', response)
    })
    this.webPhone.register()
  },
  methods: {
    webPhoneReady() {
      this.webPhone.ready()
    },
    cancelWebPhoneReady() {
      this.webPhone.notready()
    },
    answer() {
      // 接听电话
      this.inboundAudio.pause()
      this.webPhone.answer()
    },
    hold() {
      this.webPhone.hold()
    },
    unhold() {
      this.webPhone.unhold()
    },
    hungup() {
      // 挂断
      this.inboundAudio.pause()
      this.webPhone.hungup()
    },
    webphoneLogin() {
      this.webPhone.register(this.extentionNumber, this.extentionPassword)
    },
    logout() {
      this.webPhone.logout({ register: true })
    },
    dialPhone(phoneNumber) {
      // 第三个参数保持每次唯一
      this.webPhone.call(phoneNumber, false, 'test_task_id')
    },
    getStatus() {
      console.log(this.webPhone.getStatus())
    },
    relaxation() {
      this.webPhone.relaxation()
    },
    unRelaxation() {
      this.webPhone.unRelaxation()
    },
  },
}
</script>

<style scoped>
</style>